
<div id="contenido">
    <div id="info">
        <div id="data">
            <div id="nameprofile">
                <span class="style3">bruna</span>
            </div>
            <div id="data-left">
                <span class="style4">
                    <p>estatura</p>
                    <p>talla</p>
                    <p>medidas</p>
                    <p>bra</p>
                    <p>calzado</p>
                    <p>cabello</p>
                    <p>ojos</p>
                </span>
            </div>
            <div id="data_right">
                <span class="style5">
                    <p>1.73</p>
                    <p>3-5</p>
                    <p>81 - 59 - 88</p>
                    <p>34b</p>
                    <p>5</p>
                    <p>castaño claro</p>
                    <p>verdes</p>
                </span>
            </div>
            <div id="controler">
                <a href="modelos_mujeres.shtml" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image1','','images/esp/d2.jpg',1)"><img src="images/esp/d1.jpg" name="Image1" width="80" height="50" border="0" id="Image1"></a>
            </div>
        </div>
        <div id="gallery">
            <div id="showcase" class="showcase">
                <div class="showcase-arrow-next"></div><div class="showcase-arrow-previous"></div><div class="showcase-content-container" style="overflow: hidden; position: relative; height: 508px;">
                    <div id="showcase-content-0" class="showcase-content" style="overflow: hidden; position: absolute; width: 600px; left: 7.5px; height: 508px;">
                        <div class="showcase-content">
                            <div class="showcase-content-wrapper">
                                <img src="galerias/mujeres/bruna/1.jpg" alt="01" width="372px" height="508px">
                            </div>
                        </div>

                    </div>
                </div>












                <div class="showcase-thumbnail-container" style="overflow: hidden;">
                    <div class="showcase-thumbnail-button-backward" style="float: left;"><span class="showcase-thumbnail-horizontal"><span>Left</span></span></div><div class="showcase-thumbnail-restriction" style="overflow: hidden; position: relative; float: left; width: 560px;">
                        <div class="showcase-thumbnail-wrapper showcase-thumbnail-wrapper-horizontal" style="position: relative; width: 792px;">
                            <div class="showcase-thumbnail active" id="showcase-thumbnail-0" style="overflow: hidden; float: left;">
                                <img src="galerias/mujeres/bruna/1.jpg" alt="01" width="60px">
                                <div class="showcase-thumbnail-cover"></div>
                            </div><div class="showcase-thumbnail" id="showcase-thumbnail-1" style="overflow: hidden; float: left;">
                                <img src="galerias/mujeres/bruna/2.jpg" alt="01" width="60px">
                                <div class="showcase-thumbnail-cover"></div>
                            </div><div class="showcase-thumbnail" id="showcase-thumbnail-2" style="overflow: hidden; float: left;">
                                <img src="galerias/mujeres/bruna/3.jpg" alt="01" width="60px">
                                <div class="showcase-thumbnail-cover"></div>
                            </div><div class="showcase-thumbnail" id="showcase-thumbnail-3" style="overflow: hidden; float: left;">
                                <img src="galerias/mujeres/bruna/4.jpg" alt="01" width="60px">
                                <div class="showcase-thumbnail-cover"></div>
                            </div><div class="showcase-thumbnail" id="showcase-thumbnail-4" style="overflow: hidden; float: left;">
                                <img src="galerias/mujeres/bruna/5.jpg" alt="01" width="60px">
                                <div class="showcase-thumbnail-cover"></div>
                            </div><div class="showcase-thumbnail" id="showcase-thumbnail-5" style="overflow: hidden; float: left;">
                                <img src="galerias/mujeres/bruna/6.jpg" alt="01" width="60px">
                                <div class="showcase-thumbnail-cover"></div>
                            </div><div class="showcase-thumbnail" id="showcase-thumbnail-6" style="overflow: hidden; float: left;">
                                <img src="galerias/mujeres/bruna/7.jpg" alt="01" width="60px">
                                <div class="showcase-thumbnail-cover"></div>
                            </div><div class="showcase-thumbnail" id="showcase-thumbnail-7" style="overflow: hidden; float: left;">
                                <img src="galerias/mujeres/bruna/8.jpg" alt="01" width="60px">
                                <div class="showcase-thumbnail-cover"></div>
                            </div><div class="showcase-thumbnail" id="showcase-thumbnail-8" style="overflow: hidden; float: left;">
                                <img src="galerias/mujeres/bruna/9.jpg" alt="01" width="60px">
                                <div class="showcase-thumbnail-cover"></div>
                            </div><div class="showcase-thumbnail" id="showcase-thumbnail-9" style="overflow: hidden; float: left;">
                                <img src="galerias/mujeres/bruna/10.jpg" alt="01" width="60px">
                                <div class="showcase-thumbnail-cover"></div>
                            </div><div class="showcase-thumbnail" id="showcase-thumbnail-10" style="overflow: hidden; float: left;">
                                <img src="galerias/mujeres/bruna/11.jpg" alt="01" width="60px">
                                <div class="showcase-thumbnail-cover"></div>
                            </div>
                        </div>
                    </div><div class="showcase-thumbnail-button-forward" style="float: left;"><span class="showcase-thumbnail-horizontal"><span>Right</span></span></div>
                </div><div class="showcase-button-wrapper" style="clear: both;"><span id="showcase-navigation-button-0" class="active">1</span><span id="showcase-navigation-button-1">2</span><span id="showcase-navigation-button-2">3</span><span id="showcase-navigation-button-3">4</span><span id="showcase-navigation-button-4">5</span><span id="showcase-navigation-button-5">6</span><span id="showcase-navigation-button-6">7</span><span id="showcase-navigation-button-7">8</span><span id="showcase-navigation-button-8">9</span><span id="showcase-navigation-button-9">10</span><span id="showcase-navigation-button-10">11</span></div>
            </div>
        </div>
    </div>
</div>